<div class="header ds-flex-vert-center">
  <div class="container ds-flex-space-between padding-t-b-4px">
    <div class="sociais">
      <a href="http://" target="_blank" rel="noopener noreferrer"><img src="/assets/img/github.png" alt="github" /></a>
      <div class="margin-l-r-16px divisoria"></div>
      <a href="http://" target="_blank" rel="noopener noreferrer"><img src="/assets/img/sptech_logo.png" alt="sptech" /></a>
      <div class="margin-l-r-16px divisoria"></div>
      <a href="https://youtu.be/dQw4w9WgXcQ?t=43" target="_blank" rel="noopener noreferrer"><img src="/assets/img/youtube.png" alt="youtube"></a>
    </div>
    <div class="title">
      ©Todos direitos reservados ao seus respectivos donos
    </div>
  </div>
</div>

<app-nav-bar></app-nav-bar>
