.header{
  width: 100%;
  font-size: 0.6rem;
  .sociais{
    display: flex;
    height: 28px;
    align-items: center;
    a{
      display: flex;
      align-items: center;
      height: 100%;
      img{
        height: 80%;
      }
    }

    .divisoria{
      border-right: 1px solid rgba(34, 34, 34, 0.274);
      height: 60%;
    }
  }
}


