<div class="container" >
  <h1>O que é fake news?</h1>
  <div class="ds-flex">
    <div>
      <p>
        Fake news é um termo que se refere a notícias falsas ou enganosas que são
        divulgadas como se fossem verdadeiras. Essas notícias muitas vezes são
        criadas com a intenção de enganar ou manipular as pessoas, e podem ser
        disseminadas por diversos meios, como redes sociais, sites de notícias e
        mensagens de texto.
      </p>
      <p>
        As fake news podem incluir informações falsas, distorcidas ou fabricadas,
        e muitas vezes são criadas para promover uma agenda política, ideológica
        ou comercial. Elas podem ter consequências graves, como prejudicar a
        reputação de pessoas ou empresas, influenciar decisões políticas ou causar
        pânico na população.
      </p>
      <p>
        É importante verificar cuidadosamente a fonte das informações que
        recebemos e tentar confirmá-las antes de compartilhá-las, especialmente em
        redes sociais. Além disso, é fundamental ter um senso crítico e estar
        sempre disposto a questionar o que lemos, ouvimos ou vemos na mídia.
      </p>
      <button routerLink="/consulta">Consultar noticia</button>
    </div>

    <img src="/assets/img/news.jpg" width="60%" alt="news" />
  </div>
</div>
