/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fdfdfd;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.ds-flex{
  display: flex;
  flex-direction:row-reverse
}
.img{
  width: 60%;
  height: max-content;
}
.img40{
  width: 40%;
  height: max-content;
}

@media (max-width: 600px) {
  .ds-flex{
    flex-direction:column
  }
  .img, .img40{
    width: 100%;
    height: max-content;
  }
}

.ds-flex-space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ds-flex-space-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ds-flex-vert-center{
  display: flex;
  align-items: center;
}

.padding-t-b-4px{
  padding: 4px 0 4px 0;
}

.margin-l-r-16px{
  margin: 0 16px 0 16px;
}
